<?xml version="1.0"?>
<clickhouse>
    <logger>
        <level>information</level>
        <log>/opt/fwlog/clickhouse/log/clickhouse-server.log</log>
        <errorlog>/opt/fwlog/clickhouse/log/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>5</count>
    </logger>

    <listen_host>127.0.0.1</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <path>/opt/fwlog/clickhouse/data/</path>
    <tmp_path>/opt/fwlog/clickhouse/tmp/</tmp_path>
    <user_files_path>/opt/fwlog/clickhouse/user_files/</user_files_path>
    <format_schema_path>/opt/fwlog/clickhouse/format_schemas/</format_schema_path>
    <users_config>users.xml</users_config>
    <default_profile>default</default_profile>
    <default_database>default</default_database>
    <timezone>Asia/Shanghai</timezone>

    <mark_cache_size>536870912</mark_cache_size>
    <uncompressed_cache_size>268435456</uncompressed_cache_size>
    <max_server_memory_usage_to_ram_ratio>0.75</max_server_memory_usage_to_ram_ratio>

    <builtin_dictionaries_reload_interval>3600</builtin_dictionaries_reload_interval>
    <max_session_timeout>3600</max_session_timeout>
    <default_session_timeout>60</default_session_timeout>

    <remote_servers incl="clickhouse_remote_servers" optional="true" />
    <zookeeper incl="zookeeper-servers" optional="true" />
    <macros incl="macros" optional="true" />
</clickhouse>
